/* mobile first */
/* css do formulario: */

.containerModalReg_Login{
    background-color: #fff;
    position: relative;

    width: 400px;
    height: 75%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enterName{
    margin-top: 4.4rem;
}
.enterEmail,
.enterName {
    display: flex;
    justify-content: center;
}

.enterPassword,
.repeatPassword{
    position: relative;
    /* se um elemento-ancestral (no caso ancestral do open eye) for posicionado, 
     então este ancestral estabelecerá um bloco de conteúdo para todos os seus 
     descendentes, mesmo que o descendente tenho posicao absoluta. */

     margin-bottom: 5.0rem;

    display: flex;
    justify-content: center;
}
.openEye{
    position: absolute; 
    right: 0;
    cursor: pointer;
    max-width: 1.9rem;
}

.RegisterButton{
    border-radius: 1.8rem;
    font: 700 2.0rem Archivo;
    width: 25rem;
    height: 6.4rem;

    text-decoration: none;
    color: whitesmoke;
    border: none;
    background-color: #423f3f;
} 

.RegisterButtonContainer{
    text-align: center; 
}

@media (min-width: 1100px){

    .email, .username{
        font-size: 2.0rem;
    }
    
    .password{
        font-size: 2.0rem;
    }
    
    .RegisterButton{
        width: 30rem;
        height: 6.4rem;
    } 
}

@media (min-width: 1600px){
    .RegisterButton{
        margin-top: 3.2rem;
    } 
}